{{extend 'layout.html'}}
<h1>{{=T('My projects')}}</h1>

{{if grid.rows is None and 'view' in request.args:}}
		<script type="text/javascript">
			function reload_prj_tasks () { jQuery('#prj_tasks_component').get(0).reload() }
			function reload_prj_issues () { jQuery('#prj_issues_component').get(0).reload() }
		</script>
		<div role="tabpanel">

		  <!-- Nav tabs -->
		  <ul class="nav nav-tabs" role="tablist">
			    <li role="presentation" class="active">
							<a href="#prj_details" aria-controls="prj_details" role="tab" data-toggle="tab">
									<span class="glyphicon glyphicon-tree-deciduous" aria-hidden="true"></span>
									{{=T("Project details")}}
							</a>
					</li>
			    <li role="presentation">
					<a href="#prj_tasks" aria-controls="prj_tasks" role="tab" data-toggle="tab" onclick="reload_prj_tasks()">
						<span class="glyphicon glyphicon-grain" aria-hidden="true"></span>
							{{=T("Project tasks")}}
					</a>
				</li>
			    <li role="presentation">
					<a href="#prj_issues" aria-controls="prj_issues" role="tab" data-toggle="tab" onclick="reload_prj_issues()">
						  <span class="glyphicon glyphicon-apple" aria-hidden="true"></span>
							{{=T("Project issues")}}
					</a>
				</li>
		  </ul>

		  <!-- Tab panes -->
		  <div class="tab-content">
			    <div role="tabpanel" class="tab-pane active" id="prj_details">
				    	<br />
				    	<div class="jumbotron">{{=grid}}</div>
		    	</div>
		    	<div role="tabpanel" class="tab-pane" id="prj_tasks">
				    	<br />
				    	{{=LOAD('issuegrp', 'index.load', ajax=True,
				    	    vars=dict(project_id=request.args[-1]),
				    	    target="prj_tasks_component"
			    	    )}}
		    	</div>
			    <div role="tabpanel" class="tab-pane" id="prj_issues">
				    	<br />
				    	{{=LOAD('issue', 'index.load', ajax=True,
				    		vars=dict(project_id=request.args[-1]),
				    		target="prj_issues_component"
			    		)}}
		    	</div>
		  </div>

		</div>
{{else:}}
    {{=grid}}
{{pass}}
