{{extend 'layout.html'}}
{{if 'project_id' in request.vars:}}
    <h1>{{=T("New issue for project: %(title)s") % db.project[request.vars.project_id].as_dict()  }}</h1>
{{elif 'issuegrp_id' in request.vars:}}
    {{res = db(
        (db.issuegrp.typology==db.issuegrp_type.id) & \
        (db.issuegrp.id==request.vars.issuegrp_id)
    ).select(
        db.issuegrp.title.with_alias('title'),
        db.issuegrp_type.label.with_alias('type')
    ).first()}}
    <h1>{{=T("New issue for %(type)s: %(title)s") % res.as_dict()}}</h1>
{{else:}}
    <h1>New Issue</h1>
{{pass}}
{{=form}}
